@import url(//fonts.googleapis.com/css?family=Shadows+Into+Light);
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.navbar .brand {
  font-family: 'Shadows into Light';
}
.navbar .nav > li.dropdown-split-left > a {
  padding-right: 7px;
}
.navbar .nav > li.dropdown-split-right > a {
  padding-left: 0px;
}
.navbar .nav > .active_section > a.whatwedo {
  color: #cccccc;
  background-color: #5a5a5a;
  background-image: -moz-linear-gradient(top, #666666, #474747);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666666), to(#474747));
  background-image: -webkit-linear-gradient(top, #666666, #474747);
  background-image: -o-linear-gradient(top, #666666, #474747);
  background-image: linear-gradient(to bottom, #666666, #474747);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff666666', endColorstr='#ff474747', GradientType=0);
}
.navbar .nav a.whatwedo:hover,
.navbar .nav > .active > a.whatwedo,
.navbar .nav > .active > a.whatwedo:hover,
.navbar .nav > .active > a.whatwedo:focus {
  color: white;
  background-color: #0eacd4;
  background-image: -moz-linear-gradient(top, #0fbfeb, #0b90b1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0fbfeb), to(#0b90b1));
  background-image: -webkit-linear-gradient(top, #0fbfeb, #0b90b1);
  background-image: -o-linear-gradient(top, #0fbfeb, #0b90b1);
  background-image: linear-gradient(to bottom, #0fbfeb, #0b90b1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0fbfeb', endColorstr='#ff0b90b1', GradientType=0);
}
.navbar .nav > .active_section > a.inspiration {
  color: #cccccc;
  background-color: #5a5a5a;
  background-image: -moz-linear-gradient(top, #666666, #474747);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666666), to(#474747));
  background-image: -webkit-linear-gradient(top, #666666, #474747);
  background-image: -o-linear-gradient(top, #666666, #474747);
  background-image: linear-gradient(to bottom, #666666, #474747);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff666666', endColorstr='#ff474747', GradientType=0);
}
.navbar .nav a.inspiration:hover,
.navbar .nav > .active > a.inspiration,
.navbar .nav > .active > a.inspiration:hover,
.navbar .nav > .active > a.inspiration:focus {
  color: white;
  background-color: #a43f88;
  background-image: -moz-linear-gradient(top, #b64697, #8a3572);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b64697), to(#8a3572));
  background-image: -webkit-linear-gradient(top, #b64697, #8a3572);
  background-image: -o-linear-gradient(top, #b64697, #8a3572);
  background-image: linear-gradient(to bottom, #b64697, #8a3572);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb64697', endColorstr='#ff8a3572', GradientType=0);
}
.navbar .nav > .active_section > a.howitworks {
  color: #cccccc;
  background-color: #5a5a5a;
  background-image: -moz-linear-gradient(top, #666666, #474747);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666666), to(#474747));
  background-image: -webkit-linear-gradient(top, #666666, #474747);
  background-image: -o-linear-gradient(top, #666666, #474747);
  background-image: linear-gradient(to bottom, #666666, #474747);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff666666', endColorstr='#ff474747', GradientType=0);
}
.navbar .nav a.howitworks:hover,
.navbar .nav > .active > a.howitworks,
.navbar .nav > .active > a.howitworks:hover,
.navbar .nav > .active > a.howitworks:focus {
  color: white;
  background-color: #9fc25a;
  background-image: -moz-linear-gradient(top, #aaca6a, #8fb641);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#aaca6a), to(#8fb641));
  background-image: -webkit-linear-gradient(top, #aaca6a, #8fb641);
  background-image: -o-linear-gradient(top, #aaca6a, #8fb641);
  background-image: linear-gradient(to bottom, #aaca6a, #8fb641);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffaaca6a', endColorstr='#ff8fb641', GradientType=0);
}
.navbar .nav > .active_section > a.getstarted {
  color: #cccccc;
  background-color: #5a5a5a;
  background-image: -moz-linear-gradient(top, #666666, #474747);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666666), to(#474747));
  background-image: -webkit-linear-gradient(top, #666666, #474747);
  background-image: -o-linear-gradient(top, #666666, #474747);
  background-image: linear-gradient(to bottom, #666666, #474747);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff666666', endColorstr='#ff474747', GradientType=0);
}
.navbar .nav a.getstarted:hover,
.navbar .nav > .active > a.getstarted,
.navbar .nav > .active > a.getstarted:hover,
.navbar .nav > .active > a.getstarted:focus {
  color: white;
  background-color: #f49527;
  background-image: -moz-linear-gradient(top, #f8a13c, #ee8409);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8a13c), to(#ee8409));
  background-image: -webkit-linear-gradient(top, #f8a13c, #ee8409);
  background-image: -o-linear-gradient(top, #f8a13c, #ee8409);
  background-image: linear-gradient(to bottom, #f8a13c, #ee8409);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8a13c', endColorstr='#ffee8409', GradientType=0);
}
.navbar .nav > .active_section > a.contact {
  color: #cccccc;
  background-color: #5a5a5a;
  background-image: -moz-linear-gradient(top, #666666, #474747);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666666), to(#474747));
  background-image: -webkit-linear-gradient(top, #666666, #474747);
  background-image: -o-linear-gradient(top, #666666, #474747);
  background-image: linear-gradient(to bottom, #666666, #474747);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff666666', endColorstr='#ff474747', GradientType=0);
}
.navbar .nav a.contact:hover,
.navbar .nav > .active > a.contact,
.navbar .nav > .active > a.contact:hover,
.navbar .nav > .active > a.contact:focus {
  color: white;
  background-color: #4fb9a5;
  background-image: -moz-linear-gradient(top, #5cc5b1, #3ca893);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5cc5b1), to(#3ca893));
  background-image: -webkit-linear-gradient(top, #5cc5b1, #3ca893);
  background-image: -o-linear-gradient(top, #5cc5b1, #3ca893);
  background-image: linear-gradient(to bottom, #5cc5b1, #3ca893);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cc5b1', endColorstr='#ff3ca893', GradientType=0);
}
.footer {
  margin-top: 100px;
  background-color: black;
}
.footer p {
  color: white;
}
.footer h2 {
  color: #999999;
  font-size: 120%;
}
.footer a {
  color: #d9d9d9;
}
body {
  margin-top: 0px;
  padding-top: 0px;
}
#myNavbar.affix {
  width: 100%;
  top: 0px;
}
#navbar_wedge {
  height: 100px;
}
.header h1 {
  font-family: 'Shadows into Light';
}
.text-tag {
  position: absolute;
  display: inline-block;
  padding: 8px;
}
#myCarousel {
  background-color: black;
  margin-top: 0px;
  margin-bottom: 0px;
}
#myCarousel .item {
  font-family: 'Shadows into Light';
  height: 400px;
  width: 100%;
}
#myCarousel .item a.geotag {
  position: absolute;
  display: inline-block;
  padding: 8px;
  bottom: 0px;
  right: 0px;
  color: #EEE;
  background-color: rgba(0, 0, 0, 0.33);
  text-decoration: none;
}
#myCarousel .item a.geotag:hover {
  background-color: rgba(32, 32, 32, 0.33);
}
#myCarousel .item .marker {
  background-image: url('/images/marker-white-small.png');
  position: absolute;
  height: 40px;
  width: 33px;
}
#myCarousel .item .tagline {
  position: absolute;
  display: inline-block;
  padding: 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #FFF;
  font-size: 120%;
}
#myCarousel .item.cusco {
  background-image: url('/carousel/cusco.jpg');
  background-position: right bottom;
}
#myCarousel .item.cusco .marker {
  top: 208px;
  right: 273px;
}
#myCarousel .item.cusco .tagline {
  top: 208px;
  right: 313px;
}
#myCarousel .item.machupicchu {
  background-image: url('/carousel/machupicchu.jpg');
  background-position: left bottom;
}
#myCarousel .item.machupicchu .marker {
  top: 213px;
  left: 363px;
}
#myCarousel .item.machupicchu .tagline {
  top: 213px;
  left: 403px;
}
#myCarousel .item.playablanca {
  background-image: url('/carousel/playablanca.jpg');
  background-position: right bottom;
}
#myCarousel .item.playablanca .marker {
  top: 185px;
  right: 105px;
}
#myCarousel .item.playablanca .tagline {
  top: 185px;
  right: 145px;
}
#myCarousel .item.sevensisters {
  background-image: url('/carousel/sevensisters.jpg');
  background-position: right bottom;
}
#myCarousel .item.sevensisters .marker {
  top: 78px;
  right: 505px;
}
#myCarousel .item.sevensisters .tagline {
  top: 78px;
  right: 312px;
}
#myCarousel .item.stockholm {
  background-image: url('/carousel/stockholm.jpg');
  background-position: right bottom;
}
#myCarousel .item.stockholm .marker {
  top: 250px;
  right: 425px;
}
#myCarousel .item.stockholm .tagline {
  top: 250px;
  right: 465px;
}
#myCarousel .item.varanasi {
  background-image: url('/carousel/varanasi.jpg');
  background-position: right bottom;
}
#myCarousel .item.varanasi .marker {
  top: 265px;
  right: 825px;
}
#myCarousel .item.varanasi .tagline {
  top: 265px;
  right: 632px;
}
.featurettes .header {
  padding-top: 15px;
  padding-bottom: 15px;
}
.featurettes .header h2 {
  color: white;
  font-family: 'Shadows into Light', 'Helvetica Neue', 'Helvetica', serif;
}
.featurettes .header a {
  color: white;
}
.featurettes .header a:hover {
  color: #d9d9d9;
}
.featurettes .header .featurette-icon {
  color: white;
  font-size: 180px;
  text-align: center;
}
.featurettes .header p {
  color: white;
}
.featurettes #whatwedo {
  margin-top: 100px;
  padding-top: 40px;
}
.featurettes #whatwedo .header {
  background-color: #0eacd4;
  background-image: -moz-linear-gradient(top, #0fbfeb, #0b90b1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0fbfeb), to(#0b90b1));
  background-image: -webkit-linear-gradient(top, #0fbfeb, #0b90b1);
  background-image: -o-linear-gradient(top, #0fbfeb, #0b90b1);
  background-image: linear-gradient(to bottom, #0fbfeb, #0b90b1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0fbfeb', endColorstr='#ff0b90b1', GradientType=0);
}
.featurettes #whatwedo .header p {
  color: #caf2fc;
}
.featurettes #whatwedo .header a {
  color: #9ae6f9;
  font-weight: bold;
}
.featurettes #whatwedo .header a:hover {
  color: #d9d9d9;
}
.featurettes #whatwedo h2 span.muted {
  color: #9ae6f9;
}
.featurettes #whatwedo a {
  color: #0fbfeb;
}
.featurettes #whatwedo a:hover {
  color: #0a85a3;
}
.featurettes #whatwedo a.icon-stack {
  text-decoration: none;
}
.featurettes #whatwedo a.icon-stack i.icon-stack-top {
  color: white;
}
.featurettes #inspiration {
  margin-top: 100px;
  padding-top: 40px;
}
.featurettes #inspiration .header {
  background-color: #a43f88;
  background-image: -moz-linear-gradient(top, #b64697, #8a3572);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b64697), to(#8a3572));
  background-image: -webkit-linear-gradient(top, #b64697, #8a3572);
  background-image: -o-linear-gradient(top, #b64697, #8a3572);
  background-image: linear-gradient(to bottom, #b64697, #8a3572);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb64697', endColorstr='#ff8a3572', GradientType=0);
}
.featurettes #inspiration .header p {
  color: #f0d8e9;
}
.featurettes #inspiration .header a {
  color: #e2b3d5;
  font-weight: bold;
}
.featurettes #inspiration .header a:hover {
  color: #d9d9d9;
}
.featurettes #inspiration h2 span.muted {
  color: #e2b3d5;
}
.featurettes #inspiration a {
  color: #b64697;
}
.featurettes #inspiration a:hover {
  color: #7f3169;
}
.featurettes #inspiration a.icon-stack {
  text-decoration: none;
}
.featurettes #inspiration a.icon-stack i.icon-stack-top {
  color: white;
}
.featurettes #howitworks {
  margin-top: 100px;
  padding-top: 40px;
}
.featurettes #howitworks .header {
  background-color: #9fc25a;
  background-image: -moz-linear-gradient(top, #aaca6a, #8fb641);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#aaca6a), to(#8fb641));
  background-image: -webkit-linear-gradient(top, #aaca6a, #8fb641);
  background-image: -o-linear-gradient(top, #aaca6a, #8fb641);
  background-image: linear-gradient(to bottom, #aaca6a, #8fb641);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffaaca6a', endColorstr='#ff8fb641', GradientType=0);
}
.featurettes #howitworks .header p {
  color: #ffffff;
}
.featurettes #howitworks .header a {
  color: #eaf2db;
  font-weight: bold;
}
.featurettes #howitworks .header a:hover {
  color: #d9d9d9;
}
.featurettes #howitworks h2 span.muted {
  color: #eaf2db;
}
.featurettes #howitworks a {
  color: #aaca6a;
}
.featurettes #howitworks a:hover {
  color: #86ab3d;
}
.featurettes #howitworks a.icon-stack {
  text-decoration: none;
}
.featurettes #howitworks a.icon-stack i.icon-stack-top {
  color: white;
}
.featurettes #getstarted {
  margin-top: 100px;
  padding-top: 40px;
}
.featurettes #getstarted .header {
  background-color: #f49527;
  background-image: -moz-linear-gradient(top, #f8a13c, #ee8409);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8a13c), to(#ee8409));
  background-image: -webkit-linear-gradient(top, #f8a13c, #ee8409);
  background-image: -o-linear-gradient(top, #f8a13c, #ee8409);
  background-image: linear-gradient(to bottom, #f8a13c, #ee8409);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8a13c', endColorstr='#ffee8409', GradientType=0);
}
.featurettes #getstarted .header p {
  color: #ffffff;
}
.featurettes #getstarted .header a {
  color: #fde8d0;
  font-weight: bold;
}
.featurettes #getstarted .header a:hover {
  color: #d9d9d9;
}
.featurettes #getstarted h2 span.muted {
  color: #fde8d0;
}
.featurettes #getstarted a {
  color: #f8a13c;
}
.featurettes #getstarted a:hover {
  color: #df7c08;
}
.featurettes #getstarted a.icon-stack {
  text-decoration: none;
}
.featurettes #getstarted a.icon-stack i.icon-stack-top {
  color: white;
}
.featurettes #contact {
  margin-top: 100px;
  padding-top: 40px;
}
.featurettes #contact .header {
  background-color: #4fb9a5;
  background-image: -moz-linear-gradient(top, #5cc5b1, #3ca893);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5cc5b1), to(#3ca893));
  background-image: -webkit-linear-gradient(top, #5cc5b1, #3ca893);
  background-image: -o-linear-gradient(top, #5cc5b1, #3ca893);
  background-image: linear-gradient(to bottom, #5cc5b1, #3ca893);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cc5b1', endColorstr='#ff3ca893', GradientType=0);
}
.featurettes #contact .header p {
  color: #f2fbf9;
}
.featurettes #contact .header a {
  color: #cdede7;
  font-weight: bold;
}
.featurettes #contact .header a:hover {
  color: #d9d9d9;
}
.featurettes #contact h2 span.muted {
  color: #cdede7;
}
.featurettes #contact a {
  color: #5cc5b1;
}
.featurettes #contact a:hover {
  color: #389d89;
}
.featurettes #contact a.icon-stack {
  text-decoration: none;
}
.featurettes #contact a.icon-stack i.icon-stack-top {
  color: white;
}
.featurettes hr {
  color: transparent;
  padding-top: 45px;
}
.featurettes .featurette {
  margin-top: 40px;
  min-height: 300px;
}
.featurettes .featurette .jump-to-next {
  padding-top: 20px;
  text-align: right;
}
.featurettes .featurette .media > a.icon-stack {
  font-size: 50px;
}
.featurettes .featurette .idea-card h3 {
  text-align: center;
  margin-top: 0px;
}
.featurettes .featurette .idea-card p.icons {
  font-size: 50px;
  text-align: center;
  margin-bottom: 0px;
}
#whatwedo i.icon-circle {
  color: #0fbfeb;
}
#whatwedo i.icon-circle.muted {
  color: #82e0f7;
}
#whatwedo i.icon-circle-blank.muted {
  color: #82e0f7;
}
.footer {
  margin-top: 100px;
  background-color: black;
}
.footer p {
  color: white;
}
.footer h2 {
  color: #999999;
  font-size: 120%;
}
.footer a {
  color: #d9d9d9;
}
/*
.content( @color ) {
  margin-top: 40px;
  .header {
    margin-top: 0px;
    padding-top: 0px;
  }
}

body.inspiration { .content(@inspiration); }
body.howitworks { .content(@howitworks); }
*/
body.content {
  margin-top: 40px;
}
body.content h2 {
  padding-top: 40px;
}
ul#toc {
  margin-top: 40px;
}
ul#toc.affix {
  width: 170px;
  top: 80px;
}
