@import url(//fonts.googleapis.com/css?family=Shadows+Into+Light);
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.navbar .brand {
  font-family: 'Shadows into Light';
}
.navbar .nav > li.dropdown-split-left > a {
  padding-right: 7px;
}
.navbar .nav > li.dropdown-split-right > a {
  padding-left: 0px;
}
.navbar .nav > .active_section > a.whatwedo {
  color: #cccccc;
  background-color: #5a5a5a;
  background-image: -moz-linear-gradient(top, #666666, #474747);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666666), to(#474747));
  background-image: -webkit-linear-gradient(top, #666666, #474747);
  background-image: -o-linear-gradient(top, #666666, #474747);
  background-image: linear-gradient(to bottom, #666666, #474747);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff666666', endColorstr='#ff474747', GradientType=0);
}
.navbar .nav a.whatwedo:hover,
.navbar .nav > .active > a.whatwedo,
.navbar .nav > .active > a.whatwedo:hover,
.navbar .nav > .active > a.whatwedo:focus {
  color: white;
  background-color: #0eacd4;
  background-image: -moz-linear-gradient(top, #0fbfeb, #0b90b1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0fbfeb), to(#0b90b1));
  background-image: -webkit-linear-gradient(top, #0fbfeb, #0b90b1);
  background-image: -o-linear-gradient(top, #0fbfeb, #0b90b1);
  background-image: linear-gradient(to bottom, #0fbfeb, #0b90b1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0fbfeb', endColorstr='#ff0b90b1', GradientType=0);
}
.navbar .nav > .active_section > a.inspiration {
  color: #cccccc;
  background-color: #5a5a5a;
  background-image: -moz-linear-gradient(top, #666666, #474747);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666666), to(#474747));
  background-image: -webkit-linear-gradient(top, #666666, #474747);
  background-image: -o-linear-gradient(top, #666666, #474747);
  background-image: linear-gradient(to bottom, #666666, #474747);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff666666', endColorstr='#ff474747', GradientType=0);
}
.navbar .nav a.inspiration:hover,
.navbar .nav > .active > a.inspiration,
.navbar .nav > .active > a.inspiration:hover,
.navbar .nav > .active > a.inspiration:focus {
  color: white;
  background-color: #a43f88;
  background-image: -moz-linear-gradient(top, #b64697, #8a3572);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b64697), to(#8a3572));
  background-image: -webkit-linear-gradient(top, #b64697, #8a3572);
  background-image: -o-linear-gradient(top, #b64697, #8a3572);
  background-image: linear-gradient(to bottom, #b64697, #8a3572);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb64697', endColorstr='#ff8a3572', GradientType=0);
}
.navbar .nav > .active_section > a.howitworks {
  color: #cccccc;
  background-color: #5a5a5a;
  background-image: -moz-linear-gradient(top, #666666, #474747);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666666), to(#474747));
  background-image: -webkit-linear-gradient(top, #666666, #474747);
  background-image: -o-linear-gradient(top, #666666, #474747);
  background-image: linear-gradient(to bottom, #666666, #474747);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff666666', endColorstr='#ff474747', GradientType=0);
}
.navbar .nav a.howitworks:hover,
.navbar .nav > .active > a.howitworks,
.navbar .nav > .active > a.howitworks:hover,
.navbar .nav > .active > a.howitworks:focus {
  color: white;
  background-color: #9fc25a;
  background-image: -moz-linear-gradient(top, #aaca6a, #8fb641);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#aaca6a), to(#8fb641));
  background-image: -webkit-linear-gradient(top, #aaca6a, #8fb641);
  background-image: -o-linear-gradient(top, #aaca6a, #8fb641);
  background-image: linear-gradient(to bottom, #aaca6a, #8fb641);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffaaca6a', endColorstr='#ff8fb641', GradientType=0);
}
.navbar .nav > .active_section > a.getstarted {
  color: #cccccc;
  background-color: #5a5a5a;
  background-image: -moz-linear-gradient(top, #666666, #474747);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666666), to(#474747));
  background-image: -webkit-linear-gradient(top, #666666, #474747);
  background-image: -o-linear-gradient(top, #666666, #474747);
  background-image: linear-gradient(to bottom, #666666, #474747);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff666666', endColorstr='#ff474747', GradientType=0);
}
.navbar .nav a.getstarted:hover,
.navbar .nav > .active > a.getstarted,
.navbar .nav > .active > a.getstarted:hover,
.navbar .nav > .active > a.getstarted:focus {
  color: white;
  background-color: #f49527;
  background-image: -moz-linear-gradient(top, #f8a13c, #ee8409);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8a13c), to(#ee8409));
  background-image: -webkit-linear-gradient(top, #f8a13c, #ee8409);
  background-image: -o-linear-gradient(top, #f8a13c, #ee8409);
  background-image: linear-gradient(to bottom, #f8a13c, #ee8409);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8a13c', endColorstr='#ffee8409', GradientType=0);
}
.navbar .nav > .active_section > a.contact {
  color: #cccccc;
  background-color: #5a5a5a;
  background-image: -moz-linear-gradient(top, #666666, #474747);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666666), to(#474747));
  background-image: -webkit-linear-gradient(top, #666666, #474747);
  background-image: -o-linear-gradient(top, #666666, #474747);
  background-image: linear-gradient(to bottom, #666666, #474747);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff666666', endColorstr='#ff474747', GradientType=0);
}
.navbar .nav a.contact:hover,
.navbar .nav > .active > a.contact,
.navbar .nav > .active > a.contact:hover,
.navbar .nav > .active > a.contact:focus {
  color: white;
  background-color: #4fb9a5;
  background-image: -moz-linear-gradient(top, #5cc5b1, #3ca893);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5cc5b1), to(#3ca893));
  background-image: -webkit-linear-gradient(top, #5cc5b1, #3ca893);
  background-image: -o-linear-gradient(top, #5cc5b1, #3ca893);
  background-image: linear-gradient(to bottom, #5cc5b1, #3ca893);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cc5b1', endColorstr='#ff3ca893', GradientType=0);
}
.footer {
  margin-top: 100px;
  background-color: black;
}
.footer p {
  color: white;
}
.footer h2 {
  color: #999999;
  font-size: 120%;
}
.footer a {
  color: #d9d9d9;
}
.icon-rotate-45::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5);
}
.icon-rotate-315::before {
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3.5);
}
body {
  margin-top: 40px;
}
h2 {
  margin-top: 0px;
  padding-top: 60px;
}
body.whatwedo .heading {
  background-color: #0eacd4;
  background-image: -moz-linear-gradient(top, #0fbfeb, #0b90b1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0fbfeb), to(#0b90b1));
  background-image: -webkit-linear-gradient(top, #0fbfeb, #0b90b1);
  background-image: -o-linear-gradient(top, #0fbfeb, #0b90b1);
  background-image: linear-gradient(to bottom, #0fbfeb, #0b90b1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0fbfeb', endColorstr='#ff0b90b1', GradientType=0);
}
body.whatwedo .heading p {
  color: #caf2fc;
}
body.whatwedo .heading a {
  color: #9ae6f9;
  font-weight: bold;
}
body.whatwedo .heading a:hover {
  color: #d9d9d9;
}
body.whatwedo span.muted {
  color: #9ae6f9;
}
body.whatwedo a {
  color: #0fbfeb;
}
body.whatwedo a:hover {
  color: #0a85a3;
}
body.whatwedo h2 {
  color: #0a85a3;
}
body.whatwedo h3 {
  color: gray;
}
body.howitworks .heading {
  background-color: #9fc25a;
  background-image: -moz-linear-gradient(top, #aaca6a, #8fb641);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#aaca6a), to(#8fb641));
  background-image: -webkit-linear-gradient(top, #aaca6a, #8fb641);
  background-image: -o-linear-gradient(top, #aaca6a, #8fb641);
  background-image: linear-gradient(to bottom, #aaca6a, #8fb641);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffaaca6a', endColorstr='#ff8fb641', GradientType=0);
}
body.howitworks .heading p {
  color: #ffffff;
}
body.howitworks .heading a {
  color: #eaf2db;
  font-weight: bold;
}
body.howitworks .heading a:hover {
  color: #d9d9d9;
}
body.howitworks span.muted {
  color: #eaf2db;
}
body.howitworks a {
  color: #aaca6a;
}
body.howitworks a:hover {
  color: #86ab3d;
}
body.howitworks h2 {
  color: #86ab3d;
}
body.howitworks h3 {
  color: gray;
}
body.inspiration .heading {
  background-color: #a43f88;
  background-image: -moz-linear-gradient(top, #b64697, #8a3572);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b64697), to(#8a3572));
  background-image: -webkit-linear-gradient(top, #b64697, #8a3572);
  background-image: -o-linear-gradient(top, #b64697, #8a3572);
  background-image: linear-gradient(to bottom, #b64697, #8a3572);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb64697', endColorstr='#ff8a3572', GradientType=0);
}
body.inspiration .heading p {
  color: #f0d8e9;
}
body.inspiration .heading a {
  color: #e2b3d5;
  font-weight: bold;
}
body.inspiration .heading a:hover {
  color: #d9d9d9;
}
body.inspiration span.muted {
  color: #e2b3d5;
}
body.inspiration a {
  color: #b64697;
}
body.inspiration a:hover {
  color: #7f3169;
}
body.inspiration h2 {
  color: #7f3169;
}
body.inspiration h3 {
  color: gray;
}
.icon-stack .icon-stack-top {
  color: white;
}
.heading {
  padding-top: 15px;
  padding-bottom: 15px;
}
.heading h1 {
  color: white;
  font-family: 'Shadows into Light', 'Helvetica Neue', 'Helvetica', serif;
}
.heading .feature-icon {
  color: white;
  font-size: 180px;
  text-align: center;
}
ul#toc.api {
  margin-top: 40px;
}
ul#toc.api.affix {
  width: 170px;
  top: 40px;
}
.workflow {
  text-align: center;
  color: #aaca6a;
}
.workflow .node {
  font-size: 75px;
}
.workflow .link {
  font-size: 40px;
}
.workflow .comments {
  color: #CCCCCC;
  font-size: 20px;
}
.idea-card h3 {
  text-align: center;
  margin-top: 0px;
}
.idea-card p.icons {
  font-size: 50px;
  text-align: center;
  margin-bottom: 0px;
}
.idea-card a {
  text-decoration: none;
}
.steps .with-signalcloud h3,
.steps .without-signalcloud h3 {
  text-align: center;
}
.steps .start {
  text-align: center;
  margin-top: 40px;
}
.steps .start .icon {
  color: #0fbfeb;
}
.steps .flow {
  margin-bottom: 20px;
  *zoom: 1;
}
.steps .flow:before,
.steps .flow:after {
  display: table;
  content: "";
  line-height: 0;
}
.steps .flow:after {
  clear: both;
}
.steps .flow i {
  width: 100px;
  display: block;
  text-align: center;
  font-size: 40px;
}
.steps .with-signalcloud .icon {
  color: #5cc5b1;
}
.steps .with-signalcloud .icon-stack-top2 {
  color: #5cc5b1;
  font-size: 80%;
}
.steps .with-signalcloud .flow {
  color: #5cc5b1;
}
.steps .with-signalcloud .flow i {
  float: right;
}
.steps .without-signalcloud .icon {
  color: #f8a13c;
}
.steps .without-signalcloud .icon-stack-top2 {
  color: #f8a13c;
  font-size: 80%;
}
.steps .without-signalcloud .flow {
  color: #f8a13c;
}
.steps .without-signalcloud .flow i {
  float: left;
}
.steps .icon {
  font-size: 50px;
}
.steps .popover {
  position: relative;
  display: block;
  z-index: 1;
  max-width: 460px;
}
.steps .popover.top {
  margin: 0px auto 15px auto;
}
.steps .popover.bottom {
  margin: 0px auto 15px auto;
}
.steps .popover.left {
  margin: 0px 20px 20px 0px;
}
.steps .popover.right {
  margin: 0px 0px 20px 20px;
}
