/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 15px;
  padding-bottom: 0px;
}

.confirmed { color: #73A839 }
.denied    { color: #C71C22 }
.failed    { color: #DD5600 }
.timedout  { color: #F7B42C }
i.solid    { opacity: 1.0 }

span.logo { position: relative; opacity: 1.0 }
span.logo i.icon-cloud { opacity: 0.8 }
span.logo i.icon-bolt { position: absolute; top: 0px; left: 25%; color: yellow; opacity: 1.0 }
.header span.logo i.icon-bolt { text-shadow: 1px 1px 2px rgba(165,165,165,0.75); }

ul#toc.affix { top: 80px; width: 140px }

div.booklet h2 {
  padding-top: 75px;
}

div.booklet > :first-child { padding-top: 0px; margin-top: 0px; }


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

a.brand {
  position: relative;
  width: 80px;
}

a.brand img.logo {
  position: absolute;
  top: -10px;
/*   left: -40px; */
  max-height: 80px;
  max-width: 80px;
}


/* Header
-------------------------------------------------- */
.header {
  min-height: 350px;
  margin-top: -15px;
  padding-top: 130px;
  background-image: url(/images/hero5.png);
  background-position: center top;
  background-repeat: no-repeat;
}

.header h1 {
/*   margin-top: 115px; */
  color: #fff;
  font-size: 80px;
}

.header .lead {
  line-height: 1.25;
/*   margin-top: 85px; */
  background-color: rgba(255,255,255,0.4);
  border-radius: 5px;
  padding: 8px;
}

.header .btn {
  margin-top: 10px;
}

.glow {
  text-shadow: 0px 0px 15px #3057ab;
}

.threed {
  text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}


/* Footer
-------------------------------------------------- */

.footer {
  padding-bottom: 40px;
  background-color: #033C73;
  color: white;
}

.footer h2 {
  font-size: 20px;
  color: white;
}

.footer h2 + p {
  margin-top: 20px;
}

/*
.footer .span4:not(:first-child) {
  border-left: 1px solid white;
}
*/


/* Featurettes
-------------------------------------------------- */

.featurette {
  padding-bottom: 120px;
}

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette .featurette-icon {
  color: #317EAC;
  text-align: center;
  font-size: 50px;
  font-weight: 300;
}

/* Center align the text within the three columns below the carousel */
.featurette .idea h3 {
  text-align: center;
  font-weight: normal;
}

.featurette .idea p {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.response-types {
  background-color: #cec7fa;
  border-radius: 5px;
}

.featurette p.jump-to-next {
  text-align: right;
  margin-top: 20px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {

  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }
  .navbar-inner {
    border-radius: 0;
/*     margin: -20px 0; */
  }

  .carousel .item {
    height: 500px;
  }
  .carousel img {
    width: auto;
    height: 500px;
  }

  .featurette {
    height: auto;
    padding: 0;
  }
  .featurette-image.pull-left,
  .featurette-image.pull-right {
    display: block;
    float: none;
    max-width: 40%;
    margin: 0 auto 20px;
  }
}


@media (max-width: 767px) {

/*
  .navbar-inner {
    margin-top: -20px;
    margin-bottom: -20px;
  }
*/

  .carousel {
    margin-left: -20px;
    margin-right: -20px;
  }
  .carousel .container {

  }
  .carousel .item {
    height: 300px;
  }
  .carousel img {
    height: 300px;
  }
  .carousel-caption {
    width: 65%;
    padding: 0 70px;
    margin-top: 100px;
  }
  .carousel-caption h1 {
    font-size: 30px;
  }
  .carousel-caption .lead,
  .carousel-caption .btn {
    font-size: 18px;
  }

  .marketing .span4 + .span4 {
    margin-top: 40px;
  }

  .featurette-heading {
    font-size: 30px;
  }
  .featurette .lead {
    font-size: 18px;
    line-height: 1.5;
  }

}