---
title: SignalCloud
description: Introducing a new way to check in and engage with your customers, your staff, or just about anybody using a mobile phone. SignalCloud makes it easy to communicate with anyone to ask a question, get a response, and take action.

---

%body{'data-spy'=>"scroll", 'data-target'=>".navbar"}
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        / Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize.
        %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        
        / Brand
        %a.brand{:href => "#"}
          %i.icon-cloud
          SignalCloud
  
        / Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse.
        .nav-collapse.collapse
          %ul.nav
            %li
              %a{href:'#whatwedo'}
                %i.icon-question-sign.icon-large
                What we do
            %li
              %a{href:'#inspiration'}
                %i.icon-lightbulb.icon-large
                Inspiration
            %li
              %a{href:'#howitworks'}
                %i.icon-wrench.icon-large
                How it works
            %li
              %a{href:'#getstarted'}
                %i.icon-road.icon-large
                Get started
            %li
              %a{href:'#contact'}
                %i.icon-envelope-alt.icon-large
                Get ahold of us

  / Header area
  .container.header
    %h1.glow
      %i.icon-cloud
      SignalCloud
    %p.lead Introducing a new way to check in and engage with your customers, your staff, or just about anybody using a mobile phone. SignalCloud makes it easy to communicate with anyone to ask a question, get a response, and take action.
    %a.btn.btn-large.btn-primary{:href => "#"}
      %i.icon-plus.icon-large
      Sign up today
    %a.btn.btn-large.btn-info{:href => "#ideas"}
      %i.icon-lightbulb.icon-large
      Get some ideas

  / Featurettes
  .container

    / What we do
    %hr#whatwedo.featurette-divider/
    .featurette
      .row
        .span3.featurette-icon
          %i.icon-question-sign.icon-3x
        .span9
          %h2.featurette-heading
            What do we do?
            %span.muted We connect.
          %p.lead SignalCloud is a way to connect with just about anyone using their mobile phones to ask them a question you need an answer to. We listen for their answer, understand their response, and get back to you quickly so you can take action.

      .row
        .span3
          %h3 Ask a question.
          %p Ask a question with an answer both you and the customer should know, and tell us their mobile number so we can reach out to them.
        
        .span3
          %h3 We connect.
          %p We'll contact them on your behalf and ask the question. We can connect with 100s of mobile phone numbers around the world. We'll use a phone number dedicated to you - no number sharing here!
        
        .span3
          %h3 We listen.
          %p We'll wait for your customer to respond. Once we hear from them, we'll understand their response to your question.
        
        .span3
          %h3 We respond.
          %p We'll contact you right away to let you know how your customer responded. We'll let you know how they responded in one of four ways:
          %ul.icons
            %li
              %i.icon-ok-circle
              Confirmed
            %li
              %i.icon-ban-circle
              Denied
            %li
              %i.icon-remove-circle
              Unrecognised
            %li
              %i.icon-time
              No response

      .row{style:'text-align:center'}
        .span3
          %i.icon-arrow-right.icon-4x
        .span3
          %i.icon-arrow-right.icon-4x
        .span3
          %i.icon-arrow-right.icon-4x
        .span3
          %i.icon-ok.icon-4x

    / Inspiration
    %hr#inspiration.featurette-divider/
    .featurette
      .row
        .span3.featurette-icon
          %i.icon-lightbulb.icon-3x
        .span9
          %h2.featurette-heading
            Need inspiration?
            %span.muted Here's a few.
          %p.lead Our tools are simple, flexible, and intelligent. Use them whenever you need to connect with your customers, patients, staff, or just about anyone to ask a question, understand their response, and take intelligent action.

      / Ideas
      .row
        .span4.idea
          %h3<
            %i.icon-credit-card.icon-3x
            %br
            Card fraud
          %p Protecting your customers against credit or debit card fraud is not easy. Too lax, and you allow fraud. Too stringent, and you upset legit customers.
          %p SignalCloud can help seperate fraud from legit with our easy-to-use tools.
          %p
            %a.btn{:href => "ideas/creditcards.html"}
              See how SignalCloud could help
              %i.icon-arrow-right
  
        .span4.idea
          %h3<
            %i.icon-gift.icon-3x
            %br
            Package delivery
          %p Knowing when to delivery a package can be tough, since your customers might be out of the office or home and can't accept the package.
          %p SignalCloud can help contact your customers about a delivery, or help reschedule if they won't be there.
          %p
            %a.btn{:href => "ideas/packagedelivery.html"}
              See how SignalCloud could help
              %i.icon-arrow-right
  
        .span4.idea
          %h3<
            %i.icon-stethoscope.icon-3x
            %br
            Doctor's visit
          %p Missing an important doctor's appointment can derail a doctor's schedule, impact the cost of care, and reduce the quality of treatment for everyone.
          %p SignalCloud can help remind your patients of upcoming appointments, or help reschedule if they can't make it.
          %p
            %a.btn.btn-info{:href => "ideas/doctorsvisit.html"}
              See how SignalCloud could help
              %i.icon-arrow-right

    / How it works
    %hr#howitworks.featurette-divider/
    .featurette
      .row
        .span3.featurette-icon
          %i.icon-wrench.icon-3x.pull-left
        .span9
          %h2.featurette-heading
            How does it work?
            %span.muted It's easy.
          %p.lead Our tools are built on world-class services to connect with 100s of mobile phone providers around the world. We manage the connection, letting you focus on asking the questions.

    / Getting started
    %hr#getstarted.featurette-divider/
    .featurette
      .row
        .span3.featurette-icon
          %i.icon-road.icon-3x.pull-left
        .span9
          %h2.featurette-heading
            Ready?
            %span.muted Get started.
          %p.lead We're still building the service, making certain it is rock-solid for everyone. Once its ready we'll open up registration.

    / Questions
    %hr#contact.featurette-divider/
    .featurette
      .row
        .span3.featurette-icon
          %i.icon-envelope-alt.icon-3x.pull-left
        .span9
          %h2.featurette-heading
            Have questions?
            %span.muted We're here.
          %p.lead
            Let us know your thoughts. We're always listening!
            = link_to 'contact@signalcloudapp.com', 'mailto:contact@signalcloudapp.com'

    %hr.featurette-divider/
    %footer
      %p.pull-right
        %a{:href => "#"} Back to top
      %p
        &copy; 2013 Signal Cloud, llc. ·
        %a{:href => "privacy.html"} Privacy
        \·
        %a{:href => "terms.html"} Terms

  :javascript
    !function ($) {
      $(function(){
        // carousel demo
        // $('#myCarousel').carousel()
        // $('#tools').affix($('#tools').position)
      })
    }(window.jQuery)
