---
title: API - SignalCloud
description: SignalCloud's Application Program Interface (API)

---

- render 'navbar' do
  %ul.nav
    %li
      %a{href:'/'}
        %i.icon-home.icon-large
        Home
  %ul.nav.pull-right
    %li
      %p.navbar-text For Developers
    %li
      %a{href:'/api'}
        %i.icon-book.icon-large
        API
    %li
      %a{href:'/platforms'}
        %i.icon-dashboard.icon-large
        Platforms
    %li.active
      %a{href:'/security'}
        %i.icon-lock.icon-large
        Security

%p.failed{style:'text-align:center; font-size:400px;'}
  %i.icon-warning-sign

%p{style:'text-align:center; font-size:100px;'}
  Coming Soon
