---
title: Acceptance Use Policy (AUP)
description: SignalCloud's Acceptable Use Policy
lead: How, and how not, to use SignalCloud to engage your customers and clients appropriately.
body_class: whatwedo

---

= render 'navbar_whatwedo'

/ Heading
.heading
  .container
    .row
      .span3.feature-icon
        %i.icon-umbrella
      .span9
        %h1
          AUP.
          %span.muted Using SignalCloud the right way.
        %p.lead= @item[:lead]

.container
  .offset2.span8
    %p.lead Policy coming soon!
