---
title: Our Promise
description: SignalCloud's Promise
lead: We take our commitment to you and your customers seriously, which is why we've made these promises.
body_class: whatwedo

---

= render 'navbar_whatwedo'

/ Heading
.heading
  .container
    .row
      .span3.feature-icon
        %i.icon-heart
      .span9
        %h1
          Our Promise.
          %span.muted Simply and sincerely.
        %p.lead= @item[:lead]

.container
  .offset2.span8
    %h2 Our promise
    %p.lead The most important things first.
    %ol
      %li Your data, including your customer data, is yours and yours alone. We will never sell your customer data. We might ask to analyise it for research and performance purposes, though!
      %li We'll never lock you in to our service, and we will help with all reasonable effort to export your data. However, some features of the service cannot be easily ported.
      %li We'll do our best to accommodate any reasonable requests and features, but we're a small shop.
    
    %h3 About using your data
    %p From time to time we will analyse your data to produce aggregate views to help you understand your use of the service. We will also ask if we can use your data, in completely anonymised and aggregated form, to produce views of global usage.
    %p Both reporting sets requiring opting in.
