!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title #{@item[:title]}
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "/css/style.css", :rel => "stylesheet"}/
    %script{:type => "text/javascript", :src  => "/js/jquery.js"}
    %script{:type => "text/javascript", :src  => "/js/bootstrap.js"}
    %meta{:content => "nanoc #{Nanoc::VERSION}", :name => "generator"}/
    %meta{:content => "viewport", :name => "width=device-width, initial-scale=1.0"}/
    %meta{:content => "description", :name => "#{@item[:description]}"}/
    %meta{:content => "author", :name => "Ian Lloyd"}/

  = yield