/ Header Area
.header
  .container
    .row
      .span3
        %span.icon-stack{ style: 'font-size: 100px;' }
          %i.icon-circle.icon-stack-base.icon-size-4x
          %i.icon-stack-top.icon-size-4x{ style: 'color: white;', class: "icon-#{@item[:head_icon]}" }
      .span9
        %h1 #{@item[:title]}
        %p.lead #{@item[:lead]}
        - if block_given?
          = yield
