.idea-card
  %p.icons
    %a.icon-stack{href: "/ideas/appointments"}
      %i.icon-circle.icon-stack-base
      %i.icon-stethoscope.icon-stack-top
  %h3
    %a{href: "/ideas/appointments"} Doctor's visit
  %p Missing an important doctor's appointment can derail a doctor's schedule, impact the cost of care, and reduce the quality of treatment for everyone.
  %p SignalCloud can help remind your patients of upcoming appointments, or help reschedule if they can't make it.
  %p
    %a.btn{href: "/ideas/appointments"}
      See how SignalCloud could help
      %i.icon-circle-arrow-right
