.idea-card
  %p.icons
    %a.icon-stack{href: "/ideas/iap"}
      %i.icon-circle.icon-stack-base
      %i.icon-mobile-phone.icon-stack-top
    %a.icon-stack{href: "/ideas/iap"}
      %i.icon-circle.icon-stack-base
      %i.icon-tablet.icon-stack-top
  %h3
    %a{href: "/ideas/iap"} In-app purchases
  %p
    In-app purchasing has opened up a whole new revenue stream for small developers, but it's not without its challenges. With
    = link_to 'recent', 'http://www.guardian.co.uk/uk/video/2013/mar/01/five-1700-ipad-bill-video'
    = link_to 'news', 'http://www.dailymail.co.uk/news/article-2292539/Doh-Eight-year-old-boy-runs-1-000-parents-iPad-buying-virtual-DONUTS-Simpsons-game.html'
    = link_to 'articles', 'http://www.dailymail.co.uk/news/article-2298771/Policeman-Doug-Crossan-reports-13-year-old-son-Cameron-FRAUD-running-3-700-iPad.html'
    all highlighting ridiculous charges for excessive in-app purchasing, there is a definite need to use something more than a password to stop these costly mistakes.
  %p SignalCloud can help protect against unexpected in-app purchases with an extra layer of authorisation.
  %p
    %a.btn{href: "/ideas/iap"}
      See how SignalCloud could help
      %i.icon-circle-arrow-right
