%li.span4
  .thumbnail
    %h3<
      %a{href: "/ideas/appointments"}
        %i.icon-stethoscope.icon-3x
        %br
        Doctor's visit
    %p Missing an important doctor's appointment can derail a doctor's schedule, impact the cost of care, and reduce the quality of treatment for everyone.
    %p SignalCloud can help remind your patients of upcoming appointments, or help reschedule if they can't make it.
    %p
      %a.btn{href: "/ideas/appointments"}
        See how SignalCloud could help
        %i.icon-circle-arrow-right
