%li.span4
  .thumbnail
    %h3<
      %a{href: "/ideas/packages"}
        %i.icon-gift.icon-3x
        %br
        Package delivery
    %p Knowing when to delivery a package can be tough, since your customers might be out of the office or home and can't accept the package.
    %p SignalCloud can help contact your customers about a delivery, or help reschedule if they won't be there.
    %p
      %a.btn{href: "/ideas/packages"}
        See how SignalCloud could help
        %i.icon-circle-arrow-right
