.idea-card
  %p.icons
    %a.icon-stack{href: "/ideas/cards"}
      %i.icon-circle.icon-stack-base
      %i.icon-credit-card.icon-stack-top
  %h3
    %a{href: "/ideas/cards"} Card fraud
  %p Protecting your customers against credit or debit card fraud is not easy. Too lax, and you allow fraud. Too stringent, and you upset legit customers.
  %p SignalCloud can help seperate fraud from legit with our easy-to-use tools.
  %p
    %a.btn{href: "/ideas/cards"}
      See how SignalCloud could help
      %i.icon-circle-arrow-right
