.idea-card
  %p.icons
    %a.icon-stack{href: "/ideas/packages"}
      %i.icon-circle.icon-stack-base
      %i.icon-gift.icon-stack-top
  %h3
    %a{href: "/ideas/packages"} Package delivery
  %p Knowing when to delivery a package can be tough, since your customers might be out of the office or home and can't accept the package.
  %p SignalCloud can help contact your customers about a delivery, or help reschedule if they won't be there.
  %p
    %a.btn{href: "/ideas/packages"}
      See how SignalCloud could help
      %i.icon-circle-arrow-right
