/ Navigation
#myNavbar.navbar.navbar-inverse.navbar-fixed-top{ style: 'z-index:100', 'data-spy' => "affix", "data-offset-top" => 0 }
  .navbar-inner
    .container
      / Responsive Navbar Part 1: Button for triggering responsive navbar
      %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
        %i.icon-reorder
      
      / Brand
      %a.brand{:href => "/index.html"} SignalCloud
    
      / Responsive Navbar Part 2: Collapsable navbar contents
      .nav-collapse.collapse
        %ul.nav
          %li
            %a.whatwedo{href:'/index.html#whatwedo'}
              %i.icon-question-sign.icon-large
          %li
            %a.inspiration{href:'/index.html#inspiration'}
              %i.icon-lightbulb.icon-large

          %li.active_section
            %a.howitworks{href:'/index.html#howitworks'}
              %i.icon-wrench.icon-large
              How?
          %li.active_section= link_to 'API', '/api', class: 'howitworks'
          %li.active_section= link_to 'Security & privacy', '/security', class: 'howitworks'
          %li.active_section= link_to 'Platform', '/platforms', class: 'howitworks'

          %li
            %a.getstarted{href:'/index.html#getstarted'}
              %i.icon-road.icon-large
          %li
            %a.contact{href:'/index.html#contact'}
              %i.icon-envelope-alt.icon-large
